<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="/javascripts/jquery-1.7.2.min.js" type="text/javascript"></script>
		<script src='/javascripts/spectrum.js'></script>
		<link rel='stylesheet' href='/stylesheets/spectrum.css' />
		<script src="/socket.io/socket.io.js"></script>
		<script src='/javascripts/actions.js'></script>
	</head>
	<body>

		<div id="colorbox-container">
			<div id="title-bar">&nbsp;</div>
			<div class="colorbox" id="colorbox-1"></div>
			<div class="colorbox" id="colorbox-2"></div>
			<div class="colorbox" id="colorbox-3"></div>
			<div class="colorbox" id="colorbox-4"></div>
			<div class="colorbox" id="colorbox-5"></div>
			<div class="line">&nbsp;</div>
			<div id="description">&nbsp;</div>
		</div>


	</body>
</html>