* {
  margin: 0 auto;
}
body {
  background-image: url('/images/gray_jean.png');
  padding: 50px;
  font: 14px "Courier", Helvetica, Arial, sans-serif;
}
body #title-bar {
  margin-left: 0;
  margin-bottom: 60px;
  width: 113px;
  height: 53px;
  background-image: url('/images/title.png');
}
body #colorbox-container {
  height: 500px;
  width: 1100px;
}
body #colorbox-container .colorbox {
  float: left;
  margin-right: 20px;
  width: 200px;
  height: 200px;
  background-color: #FFF;
  cursor: pointer;
}
body #colorbox-container .colorbox .a {
  display: block;
  width: 100%;
  height: 100%;
}
body #colorbox-container .line {
  display: inline-block;
  margin-top: 20px;
  width: 1080px;
  height: 3px;
  background-color: #FFF;
}
body #colorbox-container #description {
  display: inline-block;
  margin-left: 0;
  margin-top: 10px;
  width: 456px;
  height: 25px;
  background-image: url('/images/description.png');
}
body #footer {
  position: absolute;
  bottom: 0;
  width: 1100px;
  height: 30px;
  background-color: #FFF;
}
body #footer #footer-image {
  margin-left: 6px;
  margin-top: 6px;
  width: 290px;
  background-image: url('/images/footer.png');
  cursor: pointer;
  opacity: 0.75;
}
body #footer #footer-image:hover {
  opacity: 1;
}
a {
  color: #00B7FF;
}
